
# Entorno virtual
venv/
ENV/
env/

# Archivos de base de datos
*.sqlite3
avatars/
# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuraciones de IDE
.vscode/
.idea/

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.bak

# Archivos de migraciones innecesarios
*/migrations/*.pyc
*/migrations/__pycache__/
